<td>Week {{index + 1}}</td>
<td>{{weekData.regular.used}}/{{weekData.regular.available}}</td>
<td>{{weekData.regular.used*100/weekData.regular.available | number: '.2-2'}}%</td>
<td>{{weekData.diesel.used}}/{{weekData.diesel.available}}</td>
<td>{{weekData.diesel.used*100/weekData.diesel.available}}%</td>
<td>{{weekData.premuim.used}}/{{weekData.premuim.available}}</td>
<td>{{weekData.premuim.used*100/weekData.premuim.available}}%</td>
