.row{
    margin-top: 20px;
}

.total-contain{
    margin: 0px;
}

.total-container{
    padding: 0px;
}

.header-container{
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(2, 2, 99);
    border-radius: 5px 50px 0 ;
}

.header-title{
    margin: 0;
    color: white;
    padding: 4px 100px 5px 100px;
    display: inline-block;
    background-color: rgb(2, 2, 99);
    border-radius: 5px 50px 0 ;
}

.header-container2{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: right;
    border-bottom: 2px solid rgb(2, 2, 99);
    border-radius: 100px 10px 100px 10px;
}

.header-title2{
    margin: 0;
    color: white;
    padding: 5px 100px 5px 100px;
    display: inline-block;  
    background-color: rgb(2, 2, 99);
    border-radius: 100px 10px 100px 10px;
}

.box-container{
    margin: 0;
}


.branch-name{
    display: inline-block;
    padding: 4px 40px;
    border: 1px solid;
    background-color: rgb(2, 2, 99);
    border-radius: 5px 50px;
    color: white;
}

.branchA {
    margin-bottom: 25px;
}