<div class="container">
  <img alt="Card" src="../../../assets/ptt-station-logo.png" />

  <!-- Header Title -->
  <div class="header-container">
    <h6 class="header-title">Annual Month Overall Data Of PTT</h6>
  </div>

  <!-- Each Card Utilization Container-->
  <div class="row box-container">
    <div
      class="col-md-4 total-container"
      *ngFor="let data of baseData; let index = index"
    >
      <app-total [baseData]="data" [title]="[title[index]]"></app-total>
    </div>
  </div>

  <!-- Header Title -->
  <div class="header-container2">
    <h6 class="header-title2">Data From Each Branch</h6>
  </div>

  <!-- Sale Of Week List-->
  <div class="week-sale-container">
    <!-- Branch A -->
    <div class="branchA">
      <h6 class="branch-name">Branch A</h6>
      <p>This is daily reports of branch A.</p>
      <div class="branch-A" app-branch>
        <tr
          *ngFor="let i of weekLoopCount; let index = index"
          [index]="index"
          app-week-row
          [weekData]="this.generateWeekData()"
        ></tr>
      </div>
    </div>

    <!-- Brach B -->
    <div class="branchB">
      <h6 class="branch-name">Branch B</h6>
      <p>This is daily reports of branch B.</p>
      <div class="branch-A" app-branch>
        <tr
          *ngFor="let i of weekLoopCount; let index = index"
          [index]="index"
          app-week-row
          [weekData] = "this.generateWeekData()"
        ></tr>
      </div>
    </div>
  </div>
</div>
