
<div class="card bg-light total-contain shadow mb-5 bg-white rounded"  style="max-width: 100%">
  <div class="card-header" [style.background-color] = "baseData.used*100/baseData.available>70.00 ? 'red': 'green'">{{title}}</div>
  <div class="card-body">
    <h5 class="card-title">{{baseData.used}}/{{baseData.available}} ( {{baseData.used*100/baseData.available | number: '.2-2'}}%)</h5><br>
    <p> Utilization of {{title}}</p>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" [style.background-color] = "baseData.used*100/baseData.available>70.00 ? 'red': 'green'" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{baseData.used*100/baseData.available}}%"></div>
    </div>
  </div>
</div>