
<table class="table table-striped" >
  <thead>
    <tr>
      <th scope="col">Week</th>
      <th scope="col">Rugular</th>
      <th scope="col"></th>
      <th scope="col">Diesel</th>
      <th scope="col"></th>
      <th scope="col">Premuim</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody style="border: 1px solid rgb(216, 213, 213);">
    <ng-content> </ng-content>
  </tbody>
</table>
